a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}html{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}q{quotes:none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}pre,code{font-family:'DejaVu Sans Mono',Menlo,Consolas,monospace}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure{margin-bottom:20px}

@font-face { font-family: Nexa-b; src: url("../../Includes/Fonts/NexaBold.otf"); } 
@font-face { font-family: Nexa; font-weight: bold; src: url("../../Includes/Fonts/NexaLight.otf");}

/* START COMMON STYLING */
html, body, :root
{
	width:100%;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}

body
{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	background-color:#FFFFFF;
}

#Main
{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:0;
	background-color:transparent;
}

.Container
{
	max-width:1000px;
	margin-right:auto;
	margin-left:auto;
	padding-right:20px;
	padding-left:20px;
}

/* END COMMON STYLING */

/*  */

/* Contains frequently used CSS styles applied to standard classes and elements */

:root, *, body, html
{
	font-family:"Nexa", "Open Sans", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	color:#000000;
}

/* CLEARFIX */

.clearfix
{
	*zoom:1;
}

.clearfix:before, .clearfix:after
{
	display:table;
	line-height:0;
	content:"";
}

.clearfix:after

{
    clear:both;
}

.ClearLeft
{
	clear:left;
}

/* END CLEARFIX */

input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active
{
	outline:none;
}

input, textarea
{
	border:none;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

textarea
{
	resize:vertical;
}

fieldset
{
	margin:0;
	padding:0;
	border:none;
}

button, div, p, fieldset
{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

button, button:active
{
	outline:none;
}

h2, h3, h4, h5, h6
{
	text-align:center;
	font-size:20px;
	font-weight:300;
	color:#4d4d4d;;
	line-height:125%;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

ul
{
	list-style:none;
	margin:0;
	padding:0;
}

	li
	{
		margin:0;
	}

a
{
	color:#000000;
	text-decoration:none;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

p
{
	line-height:22px;
	color:#4d4d4d;
	margin:0;
}
	
	a:hover
	{
		text-decoration:underline;
	}

a, input
{
	-webkit-transition:all 200ms linear;
     -khtml-transition:all 200ms linear;
       -moz-transition:all 200ms linear;
         -o-transition:all 200ms linear;
            transition:all 200ms linear;
}

/* MOBILE AND TABLETS */

@media screen and (max-width: 600px) {

	.Not_Mobile
	{
		display:none !important;
	}

	.Mobile
	{
		width:100% !important;
	}

}

